{% extends "layout.njk"%}

        {%block content%}

        <div class="cabecalho">
            <h3 class="cabecalho-sobre">Sobre</h3>
        </div>
        <div id="box-img">
        <img src="https://scontent.fios3-1.fna.fbcdn.net/v/t1.0-9/74167139_146569750039434_1387726361656819712_n.jpg?_nc_cat=105&_nc_sid=09cbfe&_nc_ohc=cG8WTehS4UsAX9PPkHV&_nc_ht=scontent.fios3-1.fna&oh=19cdd507d70e7152444b1dda81fc61c1&oe=5F190C2D" alt="Fabiana">
        <h2>Dona Graça</h2>
        <h3>Cozinha da melhor qualidade</h3>
        <p>A melhor doceira da regiao esta de volta.</p>
        </div>


        <div class="links">
            <a href="https://pt-br.facebook.com/">Facebook</a>
            <a href="https://www.instagram.com/">Instagram</a>
            <a href="https://br.linkedin.com/">Linkedin</a>
        </div>

        {% endblock%}
