
<html>
    <head>
            <title>Joao</title>
            <link rel="stylesheet"href="/styles.css">
    </head>
    <body>
        
        <header>
            <div>
                <a href="/">Sobre</a>
                <a href="/portfolio">Sobremesas</a>
            </div>
        </header>
      
        {%block content%}

        
        {% endblock %}


    </body>

</html>